.intro {
  position:relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem 1rem 1.5rem;
  @include breakpoint-lg {
    width: 50%;
    text-align: left;
    padding: 0 3rem 0 0;
  }
  &__header {
    font-size: 2rem;
    font-weight: 700;
    color: $primary;
    line-height: 2rem;
    padding: 0 2rem 1rem;
    @include breakpoint-lg {
      font-size: 3rem;
      line-height: 3rem;
      padding-left: 0; 
    }
  }
  &__content {
    font-weight: 400;
    color: $primary;
    line-height: 1.5rem;
    @include breakpoint-lg {
      margin-right: 2rem;
    }
  }
}